<img src="{{ brand.logo }}">

<h1>{{ brand.name }}</h1>
<h3>Import from {{ brand.country }}</h3>

<ul>
    {% for item in brand.item_set.all %}
    <li>{{ item.pid }} {{ item.brand }} {{ item.name }} {{ item.size }}</li>
    {% endfor %}
</ul>

<form action="{% url 'hist_price:add_sku' brand.pk %}" method="post">
    {% csrf_token %}
    <label for="add_sku">Add SKU: </label>
    <input id="add_sku" type="text" name="add_sku" maxlength="100" required />
    <input type="submit" value="Submit" />
</form>

<form action="{% url 'hist_price:update' brand.pk %}" method="post">
    {% csrf_token %}
    <label>Update Current Price</label>
    <input type="submit" value="Update" />
</form>
